<ion-menu side="start" menuId="menu" contentId="main" [swipeGesture]="isSessionActive">
    <ion-content>
        <div class="menu">
            <div>
                <div class="header">
                    <span>Menu</span>
                </div>
                <mat-list>
                    <mat-list-item (click)="changeWorkInstructionMode(); close()"  matRipple>
                        <span *ngIf="!isInstructionMode">Enter Work Instruction Mode</span><span *ngIf="isInstructionMode">Exit Work Instruction Mode</span></mat-list-item>
    
                </mat-list>
            </div>
            <div class="sing-out">
                <button (click)="signOut();close()" mat-flat-button>
                    <em class="fas fa-sign-out-alt icon"></em>
                    <span>Sign Out</span>
                </button>
            </div>
        </div>
    </ion-content>
</ion-menu>