<ion-content>
    <div class="content">
        <div class="options-area">
            <div class="options">
                <button [disabled]="watingForSelectLocation || isntructionMode"
                    [class.active-option]="currentOption === Options.INSTRUCTION" class="button active-option"
                    (click)="segmentChanged(Options.INSTRUCTION)" mat-flat-button>INSTRUCTIONS</button>
                <button [class.active-option]="currentOption === Options.INVENTORY" class="button"
                    (click)="segmentChanged(Options.INVENTORY)" mat-flat-button>INVENTORY</button>
                <button [disabled]="watingForSelectLocation" [class.active-option]="currentOption === Options.LISTVIEW"
                    class="button" (click)="segmentChanged(Options.LISTVIEW)" mat-flat-button>LIST</button>
                <div [class.active-option]="currentOption === Options.SPLIP" class="button options">
                    <button [disabled]="currentOption !== Options.SPLIP" class="button" (click)="resetRight()"
                        mat-flat-button>L</button>
                    <button [disabled]="watingForSelectLocation || isntructionMode" class="button"
                        (click)="segmentChanged(Options.SPLIP);" mat-flat-button>SPLIT</button>
                    <button [disabled]="currentOption !== Options.SPLIP" class="button" (click)="resetLeft()"
                        mat-flat-button>R</button>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="stack" [class.hide]="!showInventory">
                <app-stack [instancia]="'stack1'"></app-stack>
            </div>
            <div class="instructions" [class.hide]="!showInstructions">
                <app-intructions [instancia]="'instruction1'">
                </app-intructions>
            </div>
            <div class="split" [class.hide]="!showSplit">
                <div class="panel">
                    <div class="area">
                        <div *ngIf="!options.panel1Ok" class="options">
                            <button (click)="options.showInstruction1 = true; options.panel1Ok = true"
                                mat-flat-button>Show Instructions</button>
                            <button (click)="options.showStack1 = true; options.panel1Ok = true" mat-flat-button>Show
                                Stack</button>
                        </div>

                        <app-stack *ngIf="options.showStack1" [instancia]="'2'"></app-stack>
                        <app-intructions [instancia]="'instruction2'" *ngIf="options.showInstruction1">
                        </app-intructions>
                    </div>
                    <div class="area">
                        <div *ngIf="!options.panel2Ok" class="options">
                            <button (click)="options.showInstruction2 = true; options.panel2Ok = true"
                                mat-flat-button>Show Instructions</button>
                            <button (click)="options.showStack2 = true; options.panel2Ok = true" mat-flat-button>Show
                                Stack</button>
                        </div>

                        <app-stack *ngIf="options.showStack2" [instancia]="'3'"></app-stack>
                        <app-intructions [instancia]="'instruction3'" *ngIf="options.showInstruction2">
                        </app-intructions>
                    </div>
                </div>

            </div>
            <div class="list-view" [class.hide]="!showListView">
                <app-list-view></app-list-view>
            </div>
        </div>
    </div>
</ion-content>