<div class="filters">
  <button mat-icon-button (click)="filter()">
    <i class="fas fa-filter"></i>
  </button>
  <span style="font-size: 1.2rem;">
    Filters
  </span>
  <span *ngIf="!currentFilters">All</span>
  <span *ngIf="currentFilters?.unitNumber">
    {{currentFilters?.unitNumber}}
  </span>
  <span *ngIf="currentFilters?.customer">
    {{currentFilters?.customer}}
  </span>
  <span *ngIf="currentFilters?.equipmentSizeType">
    {{currentFilters?.equipmentSizeType}}
  </span>
  <span *ngIf="currentFilters?.unitGrade">
    {{ currentFilters?.unitGrade}}
  </span>
  <span *ngIf="currentFilters?.unitStatus">
    {{currentFilters?.unitStatus }}
  </span>
  <button *ngIf="currentFilters" (click)="resetFilters()" mat-icon-button><i class="fas fa-times"></i></button>
</div>
<div class="instruction-panel">
  <table>
    <thead>
      <tr>
        <th>No.</th>
        <th (click)="setOrden('UnitNumber')">Unit Number <i
            *ngIf="orden?.orden === 'asc' && orden?.columna === 'UnitNumber'" class="fas fa-long-arrow-alt-up"></i> <i
            *ngIf="orden?.orden === 'desc' && orden?.columna === 'UnitNumber'" class="fas fa-long-arrow-alt-down"></i>
        </th>
        <th (click)="setOrden('customerName')">Customer <i
            *ngIf="orden?.orden === 'asc' && orden?.columna === 'customerName'" class="fas fa-long-arrow-alt-up"></i> <i
            *ngIf="orden?.orden === 'desc' && orden?.columna === 'customerName'" class="fas fa-long-arrow-alt-down"></i>
        </th>
        <th (click)="setOrden('YardLocation')">Yard <i
            *ngIf="orden?.orden === 'asc' && orden?.columna === 'YardLocation'" class="fas fa-long-arrow-alt-up"></i> <i
            *ngIf="orden?.orden === 'desc' && orden?.columna === 'YardLocation'" class="fas fa-long-arrow-alt-down"></i>
        </th>
        <th (click)="setOrden('UnitStatusDescription')">Unit Status <i
            *ngIf="orden?.orden === 'asc' && orden?.columna === 'UnitStatusDescription'"
            class="fas fa-long-arrow-alt-up"></i> <i
            *ngIf="orden?.orden === 'desc' && orden?.columna === 'UnitStatusDescription'"
            class="fas fa-long-arrow-alt-down"></i> </th>
        <th (click)="setOrden('EquipmentSizeTypeDescription')">Equipmen Size <i
            *ngIf="orden?.orden === 'asc' && orden?.columna === 'EquipmentSizeTypeDescription'"
            class="fas fa-long-arrow-alt-up"></i> <i
            *ngIf="orden?.orden === 'desc' && orden?.columna === 'EquipmentSizeTypeDescription'"
            class="fas fa-long-arrow-alt-down"></i> </th>
        <th (click)="setOrden('UnitGrade')">Unit Grade <i
            *ngIf="orden?.orden === 'asc' && orden?.columna === 'UnitGrade'" class="fas fa-long-arrow-alt-up"></i> <i
            *ngIf="orden?.orden === 'desc' && orden?.columna === 'UnitGrade'" class="fas fa-long-arrow-alt-down"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="selectUnit(unit)"
        *ngFor="let unit of activeUnits?.ActiveUnits | sortBy:orden?.orden :orden?.columna;let i = index ">
        <td>{{i +1}}</td>
        <td>{{unit.UnitNumber}}</td>
        <td>{{unit.customerName}}</td>
        <td>{{unit.YardLocation}}</td>
        <td>{{unit.UnitStatusDescription}}</td>
        <td>{{unit.EquipmentSizeTypeDescription}}</td>
        <td>{{unit.UnitGrade}}</td>
      </tr>
    </tbody>
  </table>
  <h3 style="text-align: center; padding: 1rem;" *ngIf="thereAreUnits">NO RECORDS FOUND</h3>
</div>