<div class="filters">
  <button mat-icon-button (click)="filter()">
    <i class="fas fa-filter"></i>
  </button>
  <span style="font-size: 1.2rem;">
    Filters
  </span>
  <span *ngIf="!currentFilters">All</span>
  <span *ngIf="currentFilters?.unitNumber">
    {{currentFilters?.unitNumber}}
  </span>
  <span *ngIf="currentFilters?.customer">
    {{currentFilters?.customer}}
  </span>
  <span *ngIf="currentFilters?.equipmentSizeType">
    {{currentFilters?.equipmentSizeType}}
  </span>
  <span *ngIf="currentFilters?.unitGrade">
    {{ currentFilters?.unitGrade}}
  </span>
  <span *ngIf="currentFilters?.unitStatus">
    {{currentFilters?.unitStatus }}
  </span>
  <button *ngIf="currentFilters" (click)="resetFilters()" mat-icon-button><i class="fas fa-times"></i></button>
</div>
<div class="instruction-panel">
  <table>
    <thead>
      <tr>
        <th>No.</th>
        <th>Unit Number</th>
        <th>Customer</th>
        <th>Yard</th>
        <th>Unit Status</th>
        <th>Equipmen Size</th>
        <th>Unit Grade</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="selectUnit(unit)" *ngFor="let unit of activeUnits?.ActiveUnits;let i = index">
        <td>{{i +1}}</td>
        <td>{{unit.UnitNumber}}</td>
        <td>{{unit.Customer?.Name}}</td>
        <td>{{unit.YardLocation}}</td>
        <td>{{unit.UnitStatus?.Description}}</td>
        <td>{{unit.EquipmentSizeType?.Description}}</td>
        <td>{{unit.UnitGrade}}</td>
      </tr>
    </tbody>
  </table>
  <h3 style="text-align: center; padding: 1rem;" *ngIf="thereAreUnits">NO RECORDS FOUNDS</h3>
</div>