<ion-content>
    <div class="content">
        <div class="logo-area">
            <img width="250px" src="assets/logo.png">
         
        </div>
        <div class="form-area">
            <h1>Sign In</h1>
            <form autocomplete="off">
                <mat-form-field appearance="outline">
                    <mat-label>User Id</mat-label>
                    <input class="no-uppercase" #user matInput>
                    <mat-icon matSuffix fontSet="fas" fontIcon="fa-user"></mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input class="no-uppercase" #pass matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide">
                        <mat-icon *ngIf="!hide" fontSet="fas" fontIcon="fa-eye"></mat-icon>
                        <mat-icon *ngIf="hide" fontSet="fas" fontIcon="fa-eye-slash"></mat-icon>
                    </button>
                </mat-form-field>
                <mat-checkbox [(ngModel)]="keep" [ngModelOptions]="{standalone: true}" color="primary">
                    <span>Keep me signed in</span>
                </mat-checkbox>
                <button (click)="singIn(user.value,pass.value)" mat-flat-button>
                    Sign In
                </button>
            </form>

        </div>
    </div>


</ion-content>