<div class="content" [class.creating-instruction-bg]="creatingWorkInstruction">
    <button (click)="updateData()" class="reload" mat-icon-button><img width="20px"
            src="assets/viewRefreshBlack.png"></button>
   
    <div class="header">
        <div class="contentInfo">
            <div class="title">
                <span>ROW</span>
            </div>
            <div class="options">
                <button (click)="prevRow()" mat-icon-button> <img src="assets/arrow-left.png"></button>
                <span (click)="openDialog('ROW')">{{yard?.rowNumber}}</span>
                <button (click)="nextRow()" mat-icon-button><img src="assets/arrow-right.png"></button>
            </div>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Color Rule Group</mat-label>
            <mat-select [(ngModel)]="colorRuleSelected" (valueChange)="selectColorRule($event)">
                <mat-option *ngFor="let colorRule of colorsRules" [value]="colorRule">
                    {{colorRule.Name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div  style="display: flex; justify-content: center; align-items: center; height: 100%;">
            <button class="search" (click)="openSearchDialog()" mat-icon-button><i class="fas fa-search"></i></button>
        </div>
  
        <div *ngIf="yard?.isWheeled" class="contentInfo">
            <div class="title" style="display: flex; justify-content: center; align-items: center; height: 100%;">
                <span>WHEELED</span>
            </div>
        </div>
        <div *ngIf="!yard?.isWheeled" class="contentInfo">
            <div class="title">
                <span>STACK</span>
            </div>
            <div class="options">
                <button (click)="prevStack()" mat-icon-button><img src="assets/arrow-left.png"></button>
                <span (click)="openDialog('STACK')">{{yard?.stackNumber}}</span>
                <button (click)="nextStack()" mat-icon-button><img src="assets/arrow-right.png"></button>
            </div>
        </div>
    </div>

    <div class="table-area" [style.height]="unitSelected || isInstructionSelected ? '75%' : '90%'">
        <table *ngIf="!yard?.isWheeled">
            <tbody [id]="'table-'+instancia">

                <tr *ngFor="let inv of inventory; let i = index">
                    <div class="numeros">
                        {{(inventory.length-1) -i +1 }}
                    </div>
                    <td class="td-normal" id="{{unit?.unit?.RecordId}}" (click)="selectLocation(unit)"
                        [class.bg-instruction]="unit?.type === 'Instruction'"
                        [style.background-color]="unit?.unit?.HexColorCode" [class.selectedUnit]="isUnitSelected(unit)"
                        matRipple *ngFor="let unit of inventory[i]">
                        <span
                            class="top-left">{{unit?.unit?.UnitNumber.substring(0,4)}}<br>{{unit?.unit?.UnitNumber.substring(4,unit?.unit?.UnitNumber.length)}}</span>
                        <span class="top-right">{{unit?.unit?.UnitStatus?.Name}}</span>
                        <span class="bottom-right">{{unit?.unit?.UnitISO}}</span>
                        <span class="bottom-left">{{unit?.unit?.Customer?.Name}}</span>
                    </td>
                </tr>
                <tr *ngIf="inventory">
                    <th></th>
                    <th *ngFor="let letra of letras.slice(0,0)">{{letra}}</th>
                </tr>
            </tbody>
        </table>

        <table *ngIf="yard?.isWheeled">
            <tbody [id]="'table-'+instancia">

                <tr *ngFor="let inv of inventory; let i = index">
                    <div class="numeros numero-wheeled">
                        {{inventory.length-i }}
                    </div>
                    <td class="td-wheeled" id="{{unit?.unit?.RecordId}}" (click)="selectLocation(unit)"
                        [class.bg-instruction]="unit?.type === 'Instruction'"
                        [style.background-color]="unit?.unit?.HexColorCode" [class.selectedUnit]="isUnitSelected(unit)"
                        matRipple *ngFor="let unit of inventory[i]">
                        <span
                            class="top-left">{{unit?.unit?.UnitNumber.substring(0,4)}}<br>{{unit?.unit?.UnitNumber.substring(4,unit?.unit?.UnitNumber.length)}}</span>
                        <span class="top-right">{{unit?.unit?.UnitStatus?.Name}}</span>
                        <span class="bottom-right">{{unit?.unit?.UnitISO}}</span>
                        <span class="bottom-left">{{unit?.unit?.Customer?.Name}}</span>
                    </td>
                </tr>
                <tr *ngFor="let inv of inventory; let i = index">
                    <th></th>
                    <th *ngFor="let unit of inventory[i]">
                      {{unit?.stackNumber}}
                    </th>
                </tr>
            </tbody>
        </table>




    </div>
    <div *ngIf="unitSelected || isInstructionSelected" style="height:13%; background: white; width: 100%;">
        <div *ngIf="unitSelected" class="unitCard">
            <button (click)="resetSelectedUnit(true)" class="close" mat-icon-button><i
                    class="fas fa-times-circle"></i></button>
            <button (click)="lostUnit()" class="lost" mat-icon-button>
                <i class="fas fa-question-circle"></i></button>

            <span>{{unitSelected?.unit?.UnitNumber}} {{unitSelected?.unit?.Customer?.Name}}
                {{unitSelected?.unit?.UnitISO}} {{unitSelected?.unit?.UnitStatus?.Description}}
                {{unitSelected?.unit?.UnitGrade}}</span>
        </div>
        <div *ngIf="isInstructionSelected" class="instructionCard">
            <button (click)="cancelInstructionWaiting()" class="close" mat-icon-button><i
                    class="fas fa-times-circle"></i></button>
            <span>{{instructionSelected?.UnitNumber}} {{instructionSelected?.From}} {{instructionSelected?.To}}
                {{instructionSelected?.movementType}}</span>
        </div>
    </div>
</div>